absl-py==1.4.0
astunparse==1.6.3
cbor==1.0.0
coppeliasim-zmqremoteapi-client==2.0.3
dm-tree==0.1.8
flatbuffers==24.3.7
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
keras==3.1.1
libclang==18.1.1
ml-dtypes==0.3.2
namex==0.0.7
opt-einsum==3.3.0
optree==0.10.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-model-optimization==0.8.0
termcolor==2.4.0